body {
    background-color: rgb(61, 57, 57);
}

.title {
    color: antiquewhite;
}

p {
    color: antiquewhite;
}

.tag {
    background-color: tomato;
}

.found {
    color: green !important;
}

.n_found {
    color: red !important;
}

.btn-primary:hover{
    color: rgb(127, 31, 31) !important;
}