body {
    background-color: rgb(61, 57, 57);
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.title {
    color: antiquewhite;
    font-size: 5rem ;
}

.standard_text {
    color: antiquewhite;
    font-size: 2rem;
}
p {
    color: antiquewhite;
}

.tag {
    background-color: tomato;
}

.found {
    color: green !important;
}

.n_found {
    color: red !important;
}

.btn-primary:hover{
    color: rgb(127, 31, 31) !important;
}

.dall_url {
    font-size: 0.7rem;
    font-weight: bold;
}
.sub_text {
    color: rgb(115, 38, 38);
    font-size: 0.8rem;
}

.nav_additions {
    background-color: rgb(255, 161, 161);
}
.nav_additions p {
    color: white;
    font-size: 0.8rem;
}

.quote_text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;

}

.hidden {
    display: none;
}

.sub_heading {
    font-size: 2rem;
    font-weight: bold;
    color: black;

}

/* .move_animation {
    transition: transform 0.3s ease-in-out;
    transform: translateX(100px);
  } */

.overlay {
/* position: fixed; */
top:auto;
/* left: 0; */
width: 100%;
height: 100%;
justify-content: center;
align-items: center;
}

.overlay-content {
background-color: white;
padding: 20px;
}

.short_quote_text {
    color: rgb(99, 93, 93);
    font-size: 1rem;
    font-style: italic;
}
.img_border {
    border: 2px solid;
    border-color: rgb(255, 136, 0);
}

.hover_border:hover {
    border: 2px solid ;
    border-color: rgb(243, 72, 72);
}

.full_list_height {
    height:200px
}
.short_list_height{
    height: 100;
}

@media screen and (max-width: 575px) {
    .not_mobile {
        display: none;
    }
    .pic_row{
        margin: 50px;
    }
    .button_row {
        margin-bottom: 5px !important;
    }

    .short_list_height {
        height: 200px;
    }
    .tags {
        font-size: 1rem;
    }
}
@media screen and (min-width: 575px) and (max-width: 991px)  {
    .not_mobile {
        display: none;
    }
    .button_row {
        margin-bottom: 5px !important;
    }
   
    .tags {
        font-size: 0.8rem;
    }
}